.container-fluid.main-container{
	background-image:url("assets/background.png");
	background-repeat: no-repeat;
	height: 1500px;
	padding:0px;
}


.menu-container{
	background-image: url("assets/menu-background.png");
	height: 73px;
}

.main-box{
	max-width: 878px;
}

.main-box .default-custom-menu{
	margin-bottom: 5px;
}
#agora-logo{
	padding-top:5px;
}
#menu-buttons #bregister.register-button{
    display: block;
    background-color: #e9e9e9;
    font-size: 13px;
    padding: 10px;
    margin-top: 18px;
    padding: 5px 20px 5px 20px;
    color: #544444;
    margin-right: 21px;
    border-radius: 2px;
		z-index: 999;
}

#menu-buttons #blogin.login-button{
	display: block;
    background-color: #2595b7;
    font-size: 13px;
    margin-top: 18px;
    padding: 5px 20px 5px 20px;
    color: #fff;
    border-radius: 2px;
}

.registration{
	position:absolute;
	background-color:#e9e9e9;
}

.owl-text{
	background-image: url(assets/cloud.png);
	background-repeat: no-repeat;
	display:inline-block;
	position: absolute;
  height:207px;
	width:359px;
	left:20%;
}

.owl-image{
	display:inline-block;
	position:relative;
}
.text{
	font-size: 26px;
	margin-left: 110px;
	width: 197px;
}

.owl-information{
	position:absolute;
  top: 29px;
	left:30%;
	z-index: 50;
}

.video .main-video
{
		border: solid white;
		border-width: 12px;
		padding:0px;
		margin-top:143px;
}

.down-box{
	margin-top: 57px;
}

.sign-up{
	display: inline-block;
	text-align: center;
}

.icon{
	font-size: 29px;
	color:#cfcece;
}

#fac-button.fabutton, #lin-button.libutton{
		color:#fafafa;
}

#lin-button.libutton{
	width:312px;
	background-color: #00649b;
	margin-top: 44px;
	height: 37px;
}

#fac-button.fabutton{
	width: 312px;
	background-color: #425d94;
	margin-top: 15px;
	height: 37px;
}
.btn .btn-primary{
	width: 50%;
}

.more{
	background-image: url("assets/accounts-background.png");
	background-repeat: no-repeat;
	height:513px;
	width:418px;
}

.learn-more{
	font-size: 32px;
	margin-top:1px;
}
.social{
	background-image: url("assets/social-icons-background.png");
	height: 137px;
	width: 378px;
	position: absolute;
}

.icons {
	font-size: 40px;
	padding: 40px 5px 0px 5px;
	text-align: center;
	width: 200px;
}


.new-user{
	display: block;

}

#new-account{
	background-color:#cf590a;
	color:#ffffff;
	width:312px;
	height: 51px;
	margin-top:
/*	margin-top: 150px;
	margin-left: 50px; */
}

#rForm{
	border: solid green;
}

.registration{
	border-radius: 6px;
}
.registration>input{
	height: 36px;
	margin-left:12px;
	margin-bottom:12px;
}

#create{
	width: 242px;
	height: 37px;
	background-color: #cf590a;
	color:#ffffff;
	margin-left:46px;
	margin-bottom: 18px;
}

#bregister{
	background-color: #e9e9e9;
}
.log-form{
	width: 249px;
	margin-top:14px;

}
#la.register-box{position: absolute; display:none; top: 19px; left: 254px;}

.form-inputs.row{
	margin: 0;

}

.register-box{}

.inline-input{display:inline-block;}

.form-signup{
	margin-top: 10px;
	margin-left:33px;
}

.form-signup input{
	height:36px;
	border-radius: 5px;
}

.last-name{margin-left:4px;}

.form2{
	margin-top: 10px;
	width: 312px;
}

.or{
	margin-top: 20px;
}

.finput{
	margin-top:21px;
}
